@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');


@font-face {
  font-family: 'Ethnocentric';
  src: url('https://fonts.cdnfonts.com/s/14899/EthnocentricRg-Regular.woff') format('woff');
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}